@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  30% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  80% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-flow {
  animation: gradientFlow 10s ease-in-out infinite;
  background-size: 400% 400%;
}